{% include 'header.htm' %}
{% include 'navbar.htm' %}
{% set active_page = "file_upload" %}

{% block content %}
      <main role="main" class="inner cover">
        <h1 class="cover-heading">{{ title }} - IRFiles.net</h1>
        <div class="container">
            <div class="row">
                <div class="col">
                    <hr>
                    <form class="form-inline" action="{{ url_for('file_upload') }}" method="POST" enctype="multipart/form-data">
                        <div class="form-group mb-2">
                                <input class="form-control form-control-lg" id="file" type="file" name="file">
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Upload</button>
                    </form>
                </div>
            </div>
        </div>
      </main>
{% endblock %}

{% include 'footer.htm' %}