{% include 'header.htm' %}
{% include 'navbar.htm' %}
{% set active_page = "text_submit" %}

{% block content %}
      <main role="main" class="inner cover">
        <h1 class="cover-heading">{{ title }} - IRFiles.net</h1>
          <div class="container">
            <div class="row">
                <div class="col">
                    <hr>
                    <form class="form-inline" action="{{ url_for('text_submit') }}" method="POST">
                        <div class="form-group mb-2">
                                <textarea class="form-control form-control-lg" id="file" type="text" name="text_data" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Submit</button>
                    </form>
                </div>
            </div>
        </div>
      </main>
{% endblock %}

{% include 'footer.htm' %}